	<textarea class="heading_text">{{heading}}</textarea>
	<div class="list_extras">
		<a href="#">
			<span>...</span>
		</a>
	</div>
	{{#each cards}}	
	<div class="card" data-cardid="{{cardId}}">
		<ul>
			<li>{{label}}</li>
			<li>CARD Description: {{description}}</li>
			<li>CARD Due: {{due}}</li>
		</ul>
		<!--<h3>Comments</h3>
			{{#each comments}}
			<div class="comments">
				<ul>
					<li>{{this}}</li>
				</ul>
			</div>
			{{/each}}-->
	</div>
	{{/each}}	
	<div class="card_add">
		<a href="#">
			<span>Add a card...</span>
		</a>
	</div>
